<div *ngIf="class.members | async as members; else waitAdmin">
	<div *ngFor="let member of members">
		<p>
			{{ member.sheetName }}
			<button (click)="signIn(member)" [disabled]="class.member" [hidden]="class.member && class.member.sheetName == member.sheetName">SignIn</button>
			<button (click)="signOut()" [hidden]="!class.member || class.member.sheetName !== member.sheetName">SignOut</button>
			<button (click)="addPayment()" [hidden]="!class.member || class.member.sheetName != member.sheetName">Add Payments</button>
			<button (click)="addAttend()" [hidden]="!class.member || class.member.sheetName != member.sheetName">Add Attends</button>
		</p>
	</div>
</div>

<ng-template #waitAdmin>
	<div>
		<p>Please wait while we fetch member list...</p>
	</div>
</ng-template>