<div *ngFor="let reg of register$ | async">
	<p>
		{{ reg.migrate.sheetName }}
		<button color="primary" (click)="signIn(reg)" [disabled]="current" [hidden]="current && current.migrate.sheetName == reg.migrate.sheetName">
			SignIn </button>
		<div *ngIf="current && current.migrate.sheetName == reg.migrate.sheetName">
			<div *ngIf="account$ | async as data">
				<button color="accent" (click)="signOut()">SignOut</button>
				<button (click)="addPayment()" [disabled]="1 == 0 && data.account.payment.length">Add Payments</button>
				<button (click)="addAttend()" [disabled]="1 == 0 && !data.account.payment.length || data.account.attend.length">Add Attends</button>
				<button (click)="delPayment()" [disabled]="1 == 0 && !data.account.payment.length">Del Payments</button>
				<button (click)="delAttend()" [disabled]="1 == 0 && !data.account.attend.length && data.account.payment.length">Del Attends</button>
				<button (click)="delPayment()" >Reset</button>
				<p *ngIf="data.account"> {{ data.account.summary | json }} </p>
			</div>
		</div>
</div>

<ng-template #waitAdmin>
	<div>
		<p>Please wait while we fetch member list...</p>
	</div>
</ng-template>