<div *ngIf="class.members | async as members; else waitAdmin">
	<div *ngFor="let member of members">
		<p>
			{{ member.sheetName }}
			<button (click)="signIn(member)" [disabled]="class.member" [hidden]="class.member && class.member.sheetName == member.sheetName">SignIn</button>
			<button (click)="signOut()" [hidden]="!class.member || class.member.sheetName !== member.sheetName">SignOut</button>
			<div *ngIf="class.member && class.member.sheetName == member.sheetName">
				<div *ngIf="class.data$ | async as data">
					<button (click)="addPayment()" [disabled]="data.account.payment.length">Add Payments</button>
					<button (click)="addAttend()" [disabled]="data.account.attend.length">Add Attends</button>
					{{ data.account.summary | json }}
				</div>
			</div>
		<!-- </p> -->
	</div>
</div>

<ng-template #waitAdmin>
	<div>
		<p>Please wait while we fetch member list...</p>
	</div>
</ng-template>