<div
	*ngIf="(timetable$ | async) || {client: {schedule:[],class:[],price:[],location:[],instructor:[],alert:[]}}; let timetable">
	<div class="center">
		<button mat-icon-button [disabled]="offset==6" (click)="setDate(-1)">
			<mat-icon>arrow_left</mat-icon>
		</button>
		<button [disabled]="offset==0" (click)="setDate(0)"> {{ date.format('ddd, dd mmm yyyy') }} </button>
		<button mat-icon-button [disabled]="offset==0" (click)="setDate(1)">
			<mat-icon>arrow_right</mat-icon>
		</button>
	</div>
	<div *ngIf="timetable.client?.schedule?.length; else noSchedule">
		<p>Please select an Event from the list below...</p>
	</div>

	<div [@.disabled]="firstPaint" (swipeleft)="onSwipe(selectedIndex, $event)"
		(swiperight)="onSwipe(selectedIndex, $event)">
		<mat-tab-group [(selectedIndex)]="selectedIndex">
			<mat-tab label="{{ loc.key }}" *ngFor="let loc of timetable.client?.location; let sfx = index">
				<table style="width:100%;">
					<tr>
						<td> <strong style="font-size:20px;">{{ loc.name }}</strong></td>
						<td align="right" *ngIf="timetable.client?.location.length > 1">
							{{ suffix(sfx) }} of {{ timetable.client?.location.length }} locations
						</td>
					</tr>
				</table>

				<div *ngFor="let alert of timetable.client?.alert;">
					<div *ngIf="alert.location === loc.key || alert.location === undefined">
						<h2>{{ alert.note }}</h2>
						<hr>
					</div>
				</div>
				<div *ngIf="timetable.bonus">
					<p>{{ timetable.bonus.desc }}</p>
				</div>

				<div *ngIf="timetable.client?.diary?.length">
					<fieldset id="fsComments" style="border-width:1px;">
						<legend id="wbCommentLegend">Upcoming Events</legend>
						<div *ngFor="let calendar of timetable.client?.diary;">
							<p> {{ calendar.desc }} </p>
							<p> {{ calendar.name }} </p>
							<hr>
						</div>
					</fieldset>
				</div>

				<div *ngFor="let item of timetable.client?.schedule; let idx = index">
					<mat-card *ngIf="item.location === loc.key">

						<mat-card-header>
							<img mat-card-avatar [src]="item.image || 'https://source.unsplash.com/random/200x200'"
								(click)="showEvent(timetable.client, idx)">

							<mat-card-title>
								{{ item.key }}
								<p>{{ item.start }}</p>
							</mat-card-title>

							<mat-card-subtitle>
								{{ item.desc }}
							</mat-card-subtitle>

							<mat-card-content>
								<button mat-raised-button [disabled]="item._disable" (click)="attend.setAttend(item, date)"
									matBadge="{{ item.count }}" matBadgeHidden="{{ item.count == 0 }}">
									Check-in: {{ item.amount | currency }}
								</button>
							</mat-card-content>
							<button (click)="setReact(item, 1)">Like</button>

						</mat-card-header>

					</mat-card>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>

<ng-template #noSchedule>
	<h3>No Classes today !</h3>
</ng-template>