<div
	*ngIf="(timetable$ | async) || {client: {schedule:[],class:[],price:[],location:[],instructor:[],alert:[]}}; let timetable">
	<div *ngIf="timetable.client?.schedule?.length; else noSchedule">
		<p>Please select an Event from the list below...</p>
	</div>

	<div [@.disabled]="firstPaint" (swipeleft)="swipe(selectedIndex, $event)" (swiperight)="swipe(selectedIndex, $event)">
		<mat-tab-group [(selectedIndex)]="selectedIndex">
			<mat-tab *ngFor="let loc of timetable.client?.location; let sfx = index">
				<h3> {{ loc.name }} </h3>
				<div *ngFor="let alert of timetable.client?.alert;">
					<p>{{ alert.note }}</p>
				</div>
				<div *ngIf="timetable.bonus">
					<p>{{ timetable.bonus.desc }}</p>
				</div>
				<div *ngFor="let calendar of timetable.client?.calendar;">
					<p>{{ calendar.name }} </p>
					<p>{{ calendar.desc }}</p>
				</div>

				<div *ngIf="timetable.client?.location.length > 1">
					{{ suffix(sfx) }} of {{ timetable.client?.location.length }} locations
				</div>

				<div *ngFor="let item of timetable.client?.schedule; let idx = index">
					<mat-card *ngIf="item.location === loc.key">

						<mat-card-header>
							<img mat-card-avatar [src]="item.icon || 'https://source.unsplash.com/random/200x200'"
								(click)="showEvent(timetable.client)">

							<mat-card-title>
								{{ item.key }}
								<p>{{ item.start }}</p>
							</mat-card-title>

							<mat-card-subtitle>
								{{ item.desc }}
							</mat-card-subtitle>

							<mat-card-content>
								<button mat-raised-button [disabled]="item._disable" (click)="attend.setAttend(item)"
									matBadge="{{ item.count }}" matBadgeHidden="{{ item.count == 0 }}">
									Check-in: {{ item.amount | currency }}
								</button>
							</mat-card-content>

							<div class="wrapper" (mouseenter)="toggle(true)" (mouseleave)="toggle(false)">
								<div class="emojis" *ngIf="showEmojis">

									<span *ngFor="let react of react$ | async; index as i;">
										<img [src]="react.icon" width='75px' (click)="react(i)">
									</span>

								</div>

								<span class="like" (click)="react(0)" [class.liked]="userReaction != null">
									Like
								</span>

								<span *ngIf="userReaction != null">
									| You reacted <strong>{{ emojiList[userReaction] }}</strong>
								</span>

								<div class="reactions">

									<div *ngFor="let emoji of emojiList; index as i;" class="reaction-counts">

										<span *ngIf="hasReactions(i)">
											<img [src]="emojiPath(emoji)"> {{ reactionCount[i] }}
										</span>

									</div>
								</div>
							</div>

						</mat-card-header>

					</mat-card>
				</div>
			</mat-tab>
		</mat-tab-group>
	</div>
</div>

<ng-template #noSchedule>
	<h3>No Classes today !</h3>
</ng-template>