<p>
  Please select a Payment-Plan from the list below...
</p>

<div *ngIf="(profile$ | async) || {plan:'unknown'}; let profile">
  Your current Plan: {{profile.plan}}

  <mat-card *ngFor="let plan of plan$ | async">
    <mat-card-header>
      <!-- <img mat-card-avatar src="https://source.unsplash.com/random/200x200"> -->
      <img mat-card-avatar [src]="plan.icon || 'https://source.unsplash.com/random/200x200'">
      <mat-card-title>
        {{plan.type}}
      </mat-card-title>
      <mat-card-subtitle>{{plan.desc}}</mat-card-subtitle>

      <mat-card-content>
        <button mat-raised-button [disabled]="plan._disable || (profile && plan.type == profile.plan)" (click)="member.setPlan(plan.type)">
          Select
        </button>
      </mat-card-content>
    </mat-card-header>
  </mat-card>
</div>