<div *ngIf="(data$ | async) || []; let data">
  <div *ngIf="data.member?.plan; else newPlan">
    Your current Plan: {{ data.member.plan.plan }}
  </div>

  <mat-card *ngFor="let plan of data.client?.plan; last as isLast">
    <div *ngFor="let price of data.client?.price">
      <div *ngIf="price.type == 'topUp' && price.key == plan.key">
        <mat-card-header>
          <img mat-card-avatar [src]="plan.icon || 'https://source.unsplash.com/random/200x200'" (click)="showPlan(price.key, data.client.price)">
          <mat-card-title> {{ plan.key }} </mat-card-title>
          <mat-card-subtitle> {{ plan.desc }} </mat-card-subtitle>

          <mat-card-content align="right">
            <button mat-raised-button [disabled]="plan._disable || (data.member?.plan && plan.key == data.member.plan.plan)"
              (click)="member.setPlan(plan.key)">
              {{ price.amount | currency }}
            </button>
          </mat-card-content>
        </mat-card-header>
        <mat-divider [inset]="true" *ngIf="!isLast"></mat-divider>
      </div>
    </div>
  </mat-card>

  <ng-template #newPlan>
    <p>Welcome {{ data.auth?.user?.displayName }} !!</p>
    <p>Please select a Payment-Plan from the list below...</p>
  </ng-template>
</div>