<div *ngIf="app$ | async as app">
	<mat-toolbar color="primary">
		<span>The WhiteBook App</span>
		<span class="title-spacer"></span>

		<div matRipple>
			<button mat-icon-button (click)="clickMe()" [style.background-image]="app.auth.user.photoURL | safe: 'style' ">
			</button>
		</div>

		<!-- <button [disabled]="!app.auth.user" (click)="data.auth.signOut()">Logout</button>
		<p></p>
		<button [disabled]="!app.auth.user" (click)="this.navigate.route('profile/plan')">Plan</button>
		<p></p>
		<button [disabled]="!app.auth.user" (click)="this.navigate.route('profile/account')">Account</button>
		<p> </p>
		<button [hidden]="!app.auth.token ||
	!app.auth.token.claims.claims ||
	!app.auth.token.claims.claims.roles || 
	!app.auth.token.claims.claims.roles.includes('admin')" (click)="this.navigate.route('migrate')">Migrate
			Attend</button> -->

		<!-- <div *ngFor="let message of app.member.message">
			<div *ngIf="message.type == 'alert'">
				<p>{{ message.note }}</p>
			</div>
		</div> -->
	</mat-toolbar>
</div>

<router-outlet></router-outlet>