<div *ngIf="(provider$ | async) || []; let providers">
	<div *ngIf="providers.length; else newUser">
		<p>Please select a Login-Provider from the list below...</p>
	</div>

	<mat-card cdkDropList (cdkDroplistDropped)="drop($event)">
		<mat-card-content *ngFor="let provider of providers ; let last = last">
			<img mat-card-avatar [src]="provider.icon || 'https://source.unsplash.com/random/200x200'">
			<button mat-raised-button [disabled]="provider._disable" (click)="signIn(provider)">
				Login with {{ provider.key }}
			</button>
			<mat-divider *ngIf="!last"></mat-divider>
		</mat-card-content>
	</mat-card>
</div>

<ng-template #newUser>
	<div>
		<h3>
			<p>Welcome to FreeStyle4U !!</p>
		</h3>
		<p>Please wait while we setup...</p>
	</div>
</ng-template>