<div *ngIf="(meetings$ | async) || []; let meetings">
	<div class="center">
		<button mat-icon-button [disabled]="offset==999" (click)="setDate(-1)">
			<mat-icon>arrow_left</mat-icon>
		</button>
		<button [disabled]="offset==0" (click)="setDate(0)"> {{ date.format('ddd, dd mmm yyyy') }} </button>
		<button mat-icon-button [disabled]="offset==0" (click)="setDate(1)">
			<mat-icon>arrow_right</mat-icon>
		</button>
		<h2 style="font-weight:normal;">
			<span style="font-weight:bold;color:mediumblue;">{{ meetings.length }} </span>Meeting{{ meetings.length == 1 ? '' : 's'}} today
		</h2>
	</div>

	<div [@.disabled]="firstPaint" (swipeleft)="onSwipe(selectedIndex, $event)" (swiperight)="onSwipe(selectedIndex, $event)">
		<mat-tab-group [(selectedIndex)]="selectedIndex">
			<div *ngFor="let meeting of meetings">
				<mat-tab label=" {{ meeting.start.label }}">
					<table>
						<tr>
							<td colspan="2" [style.color]="meeting.start.color">
								<h3>{{ meeting.start?.white?.class }}</h3>
							</td>
							<td>started: </td>
							<td>
								<h4>{{ meeting.start.label }}</h4>
							</td>
							<td>ended: </td>
							<td>
								<h4 class="blink">{{ meeting.end?.label }}</h4>
							</td>
						</tr>
					</table>

					<table>
						<thead>
							<tr>
								<th>UserName</th>
								<th>Join</th>
								<th>Left</th>
								<th>Alias</th>
								<th>Paid</th>
								<th>Credit</th>
								<th>Week</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let party of meeting.participants; let idx = index">
								<td>{{ party.user_name }}</td>
								<td>{{ party.join.label }}</td>
								<td>{{ party.leave?.label }}</td>
								<td>{{ party.join.white?.alias }}</td>
								<td align="right" [attr.bgcolor]="party.join.bgcolor?.price">{{ party.join.price | number }}</td>
								<td align="right" [attr.bgcolor]="party.join.bgcolor?.credit">{{ party.join.credit | number }}</td>
								<td align="right" [attr.bgcolor]="party.join.bgcolor?.bonus">
									{{ party.join.white?.status?.trackDaysThisWeek | number }}</td>
							</tr>
						</tbody>
					</table>
				</mat-tab>
			</div>
		</mat-tab-group>
	</div>
</div>